@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700;800;900&family=PT+Serif:wght@400;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.contact {
  background-color: #5446f5;
  height: 30px;
  display: grid;
  align-items: center;
  padding-left: 20px;
}

.contact_list {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  gap: 40px;
}

.contact_item {
  text-decoration: none;
  color: #fff;
  font-family: "PT Serif", serif;
  font-size: 12px;
}

/***header*************************************/

header {
  font-family: "Cinzel", serif;
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  background-color: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  height: 75px;
  padding: 0 20px;
}

.logo_box {
  display: flex;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
  color: #5446f5;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  gap: 40px;
}

nav a {
  text-decoration: none;
  color: #5446f5;
  font-weight: bold;
}

/***hero*************************************/

.hero-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  height: 730px;
  background-color: #5446f5;
  color: #fff;
}

.left-side {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

h1 {
  font-family: "Cinzel", serif;
  font-size: 48px;
  margin-bottom: 10px;
}

p {
  font-size: 16px;
  margin-bottom: 20px;
}

button {
  background-color: #34bff4;
  color: #fff;
  padding: 15px 35px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.2rem;
}

.right-side img {
  width: 1800px;
  height: 677px;
  object-fit: cover;
  margin-top: 100px;
}
